@model webapp.Models.Practica


<div class="text-right">
    <h1 class="display-4"><strong>Registro de Alumnos a cursos</strong></h1>
    <form asp-controller="Practica" asp-action="Create">
        <br/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" type ="text" class="form-control"/>
<br/>
    <div class="input-group">
            <div class="col-sm-8 col-sm-offset-2">
                <strong><label asp-for="Cursos"></label></strong>
            </div>
            <div class="col-sm-8 col-sm-offset-2">
               <input type="checkbox" asp-for="Matematica">
               <input asp-for="Matematica" type="hidden" value="Matematica"/>
               <label asp-for="Matematica" class="control-label"></label>
            </div>
            <div class="col-sm-8 col-sm-offset-2">
               <input type="checkbox" asp-for="Lenguaje">
               <label asp-for="Lenguaje" class="control-label"></label>
            </div>
            <div class="col-sm-8 col-sm-offset-2">
               <input type="checkbox" asp-for="Historia">
               <label asp-for="Historia" class="control-label"></label>
            </div>
        </div>
      <br/>  
        <button type="submit" class="btn btn-primary">Registrar</button> 
    </form>
    <h1>@ViewData["Message1"]</h1>
    <h1>@ViewData["Message2"]</h1>
    <h1>@ViewData["Message3"]</h1>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}